<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.chunks.head%>">
    <script defer src="https://code.highcharts.com/highcharts.js"></script>
    <script defer src="https://code.highcharts.com/modules/data.js"></script>
    <script defer src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script defer src="<%= htmlWebpackPlugin.options.chunks.js%>"></script>
</head>
<body>


</body>
</html>