.card-content {
  display: flex;
}
.card-arrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #00857c;
  cursor: pointer;
}
.card-arrow span {
  margin: 0 5px;
}
.card-arrow:hover {
  background-color: #f6f6f6;
}
.card-text {
  width: 100%;
}
.card-arrow button {
  margin: 10px 5px;
}
