
.form-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

/*-------------------------------------------------------*/

.menu-title {
    color: #00857c;
    font-size: 26px;
    letter-spacing: 3px;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.table-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.table-content {
    width: 100%;
}

.add-button {
    margin: 10px;
}

.persons-table {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.table-content .mdl-data-table th {
    color: #00857c;
}

.person-actions {
    margin-left: 10px;
    cursor: pointer;
    color: rgb(66, 66, 66);
    transform: scale(1.0);
    transition: transform 0.1s 0.1s ease-in-out;
}

.person-actions:hover {
    transform: scale(1.2);
    transition: transform 0.1s 0.1s ease-in-out;
}

.mdc-textfield:not(.mdc-textfield--upgraded) .mdc-textfield__input:invalid:not(:focus){
    border-color: rgba(0,0,0,.12);
}
.dirty:invalid:not(:focus){
border-color: #d50000 !important;
}

/* select starting stylings ------------------------------*/
.select {
    font-family:
            'Roboto','Helvetica','Arial',sans-serif;
    position: relative;
    margin: 10px 14px 5px 0;
}

.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 264px;
    padding: 10px 0px 5px 0;
    font-size: 14px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.select-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0,0,0, 0);
}

/* Use custom arrow */
.select .select-text {
    appearance: none;
    -webkit-appearance:none
}

.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    letter-spacing: 0.04em;
    transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
    color:  #4bb5ab;
    top: -5px;
    transition: 0.2s ease all;
    font-size: 11px;
    letter-spacing: 0.04em;
}

/* BOTTOM BARS ================================= */
.select-bar {
    position: relative;
    display: block;
    width: 264px;
}

.select-bar:before, .select-bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background:  #4bb5ab;
    transition: 0.2s ease all;
}

.select-bar:before {
    left: 50%;
}

.select-bar:after {
    right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.modal {
    position: absolute;
    z-index: 1000;
    padding-top: 10%;
    left:50%;
    margin-left:-200px;
    visibility: hidden;
}

.modal-active{
}

/*------------------------------------------------------*/
.breadcrumbs {
    text-align: center;
    margin-top: 15px;
}

.block-switcher {
    position: absolute;
    right: -2px;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 195px;
    justify-content: space-evenly;
    z-index: 800;
}


@media screen and (max-width: 600px) {
    .block-switcher {
        position: inherit;
        right: -2px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        z-index: 1;
        margin-top: 15px;
    }

}

.block-switcher-items {
    width: 70px;
    height: 60px;
    background-color: #00857c;
    text-align: center;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .block-switcher-items {
        width: 170px;
        height: 60px;
        background-color: #00857c;
        text-align: center;
        color: #fff;
        font-size: 23px;
        font-weight: bold;
        display: flex;
        cursor: pointer;
        margin: 0 5px;
    }

}

.block-switcher-items div, .question-block div, .question-count div {
    height: 30px;
    margin: auto;
}

.block-switcher-items:hover {
    background-color: #006b62;
    color: #e5ffff;
}

.question-block-active{
    background-color: #006b62;
    color: #e5ffff;
}

.current-question {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}

.question-block {
    height: 80px;
    width: 80px;
    background-color: #00857c;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    display: flex;
}

@media screen and (max-width: 600px) {
    .question-block {
        margin-left:10px;
    }
}

.question-count {
    height: 80px;
    width: 260px;
    color: rgb(66, 66, 66);
    font-size: 23px;
    font-weight: bold;
    display: flex;
    margin: 0 10px;
}

.question-slider {
    margin: 25px 73px 25px 15px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .question-slider {
        margin: 10px 15px 25px 15px;
        display: flex;
        justify-content: center;
    }
}

.question-card-wide.mdl-card {
}

.question-card-wide > .mdl-card__menu {
    color: #fff;
}

.mdl-card{
    width: auto;
    max-width: 550px;
    min-height: auto;
}

.card-content{
    display:flex;
}

.card-arrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #00857c;
    cursor: pointer;
}

.card-arrow span {
    margin: 0 5px;
}

.card-arrow:hover{
    background-color: #f6f6f6;
}

.card-text{
    width: 100%;
}

.card-arrow button {
    margin: 10px 5px;
}

.mdc-fab{
    background-color: #4bb5ab;
    color: #000000;
}

.slider-titles{
    display: flex;
    justify-content: space-between;
    color:#00857c;
    font-size: 12px;
}

.slider-marks{
display: flex;
    justify-content: space-between;
    color:#00857c;
    padding:3px 24px;
}


.slider-marks-mark{
    font-size: 12px;
    display:flex;
    flex-direction: column;
}

.slider-marks-circle{
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: #00857c;
    align-self: center;
}

.mdl-slider__background-lower{
    color: #00857c!important;
}

.card-textarea{
    width: 100%;
    outline-color: #b2dfdb;
    margin-top: 10px;
    padding: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
/*--------------------------------------*/

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;

}

.chart {
    width: 30%;
    min-width: 400px;
    margin: 10px 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.chart-header {
    height: 50px;
    background-color: #00857c;
    color: #fff;
    display: flex;
}

.chart-header div {
    height: 30px;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
}

.percentage {
    height: 150px;
    background: linear-gradient(to top, #82ada9 30%, #fff 73%);
    font-size: 50px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.percentage div{
    text-align: center;
    color: #404040

}

.per-html {
    background: linear-gradient(to top, #82ada9 85%, #fff 92%);
}

.per-css {
    background: linear-gradient(to top, #82ada9 65%, #fff 73%);
}

.per-js {
    background: linear-gradient(to top, #82ada9 75%, #fff 86%);
}






