.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 300px;
  margin: 0 auto;
}
.chart {
  width: 30%;
  min-width: 400px;
  margin: 10px 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.chart-header {
  height: 50px;
  background-color: #00857c;
  color: #fff;
  display: flex;
}
.chart-header div {
  height: 30px;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}
.percentage {
  height: 150px;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.percentage div {
  text-align: center;
  color: #404040;
}
.interview-placeholder {
  font-size: 36px;
  font-weight: bold;
  height: 100%;
  text-align: center;
  padding-top: 20%;
}
